h1 {
    color: greenyellow;
    background-color: navy;
}
h2 {
    color:rgb(0, 62, 248);
}
h3{
    color:darkblue;
}
h4 {
    color:navy;
}
html {
    font-size: 1.3em;
    font-family: cursive;
    background-color:skyblue;
}