h1 {
    color: greenyellow;
    background-color: #4a6f9e;
}
h2 {
    color:rgb(0, 62, 248);
    background-color:rgba(11, 149, 6, 0.502);
}
h3{
    color:darkblue;
    background-color: rgba(74, 180, 70, 0.629);
}
html {
    font-family: cursive;
}